##############################################################################
# This file can be copied to user-config.jam and customised to match 
# your computer. Environment variables can be used instead, see the
# main jamfile for details.  
##############################################################################

# Hints:
#
# - leave a space between all tokens, and in particular
#   before the semicolons
#
# - enclose any paths containing spaces in double quotes

# more than one compiler can be used 
# using msvc : 9.0 ;
# using gcc ;

# set this if you don't have Xerces or don't want XML support
# NO_XERCES = 1 ;

# required if NO_XERCES not set
# XERCES_INCLUDE = c:/xerces-c-3.0.1/src ;

# multiple paths are fine as long as there are no duplicate libraries
# XERCES_LIBPATH = 
#    c:/xerces-c-3.0.1/Build/Win32/VC8/Release 
#    c:/xerces-c-3.0.1/Build/Win32/VC8/Debug ;

# XERCES_BINARY is best left unset, but can be used to tell the
# compiler precisely what Xerces binary library to use. It is similar to
# e.g. ZLIB_BINARY used by Boost. NB: be careful not to mix Debug and
# Release libraries under Windows. If you do, everything will seem to compile
# fine but then the code will crash unpredictably at runtime. 
# XERCES_BINARY = xerces-c_3.lib ;

# these have defaults based on BOOST_BUILD_PATH (NB: they might not work ATM)
# BOOST_INCLUDE = c:/boost_1_41_0 ;
# BOOST_LIB = c:/boost_1_41_0/stage/lib ;

##############################################################################
